*{
    margin: 0;
    padding: 0;
}

body{
    height: 100lvh;
    width: 100%;
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    position: relative;
}
.count{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 3em;
}
.img{
    width: 100%;
    z-index: 1;
    object-fit: cover;
    filter: blur(100px);
    position: absolute;
    top: 0;
    left: 0;
}
.cc{
    display: initial;
}